@use "../abstracts" as *;

.btn {

    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        letter-spacing: .15rem;
        border-radius: 5rem;
        /* transition property needs to be on the initial state */
        transition: all .2s;
        position: relative;
        font-size: 2rem;

        // change for the button element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }

    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($black, .2);
    }

    &--white {
        background-color: $white;
        color: $gray-darker-3;

        &::after {
            background-color: $white;
        }

    }

    &--green {
        background-color: $color-primary;
        color: $white;

        &::after {
            background-color: $color-primary;
        }

        a {
        	text-decoration: none;
        	color: $white;
        }

    }

    &::after {
        content: "";
        display: inline-block;
        /* 100% of the width of the button, same with height */
        height: 100%;
        width: 100%;
        border-radius: 5rem;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .4s;
        /* hide behind the button */
        z-index: -1;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
        /* animation-delay: .75s; */
    }

    &-text {

        &:link,
        &:visited {
            color: $color-primary;
            display: inline-block;
            font-size: $default-font-size;
            text-decoration: none;
            border-bottom: 1px solid $color-primary;
            padding: 1rem 1.5rem;
            transition: all .2s;
        }

        &:hover {
            background-color: $color-primary;
            color: $white;
            box-shadow: 0 1rem 2rem rgba($black, .15);
            transform: translateY(-2px);
        }

        &:active {
            box-shadow: 0 .5rem 1rem rgba($black, .15);
            transform: translateY(0);
        }
    }
}
