@use "../abstracts" as *;
@use "../base/animations" as *;

.header {
    height: 95vh;
    background-image: url('../img/hero-small.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (min-width: 112.5em) {
        background-image: url('../img/hero.jpg');
    }

    @include respond(tab-port) {
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    }

    @include respond(phone) {
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &_LogoBox {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &_Logo {
        height: 3.5rem;
    }

    &_TextBox {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        max-width: 52rem;
    }

    &_Intro {
    	color: $white;
    	font-size: 4.2rem;
    	text-transform: uppercase;
    	font-weight: 300;
    	text-shadow: 2px 3px 0 rgba(0,0,0,0.75), 2px 2px 4px rgba(0,0,0,0.75);
    }

    &_Info {
    	color: $white;
    	font-size: 2.5rem;
    	text-shadow: 2px 3px 0 rgba(0,0,0,0.75), 2px 2px 4px rgba(0,0,0,0.75);

    }

}
